<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/answerHead.ejs %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="container-center">
           <table id="table" >
               <thead>
                   <tr>
                       <th>Question</th>
                       <th>Answer 1</th>
                       <th>Answer 2</th>
                   </tr>
               </thead>
                <tbody>
                <% data.forEach(function (question) { %>
                   <tr>
                       <td><%= question.question %></td>
                       <td><%= question.answer1 %></td>
                       <td><%= question.answer2 %></td>
                   </tr>
                <% }) %>
                </tbody>
           </table>
        </div>

        <form action="/">
            <input type="submit" value="Logout">
        </form>
    </body>
</html>
