<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/answerHead.ejs %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="container-center">
           <table id="table" >
               <thead>
                   <tr>
                       <th>Question</th>
                       <th>Answer 1</th>
                       <th>Answer 2</th>
                   </tr>
               </thead>
                <tbody>
                <% data.forEach(function (question) {
                    var answers = [question.answer1, question.answer2];
                    answers.sort(function(a, b){return 0.5 - Math.random()}); %>
                   <tr>
                       <td><%= question.question %></td>
                       <td><%= answers[0] %></td>
                       <td><%= answers[1] %></td>
                   </tr>
                <% }) %>
                </tbody>
           </table>
        </div>

        <form action="/">
            <input type="submit" value="Logout">
        </form>
    </body>
</html>

<% function shuffle(array) {
    var curIndex = array.length, tempval, randIndex;
    while(0 !== curIndex){
       curIndex -= 1;
       randIndex = Math.floor(Math.random() * curIndex);
       tempval = array[curIndex];
       array[randIndex] = tempval;
    }
    return array;
 } %>
