<!DOCTYPE html>
<html>
<head>
    <% include ../partials/loginHead.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <form action="/Stumper">
        <div class="field">
            Please Login
            <br>
            <br>
            Username:
            <input type="text" required>
            <br>
            Password:
            <input type="password" required>
            <br>
            <input type="submit" value="Login">
            <br>
        </div>
    </form>
</body>
</html>
