<!DOCTYPE html>
<html>
<head>
    <% include ../partials/loginHead.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <form action="/Stumper">
        <div class="field">
            Username:
            <input type="text">
            <br>
            Password:
            <input type="text">
        </div>
        <input type="submit" value="Login">
    </form>
</body>
</html>
