<!DOCTYPE html>
<html>
<head>
    <% include ../partials/stumperHead.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <form action="/Stumper">
        <input type="submit" value="Login">
    </form>
</body>
</html>
