<!DOCTYPE html>
<html>
<head>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <% include ../partials/stumper.ejs %>
<body>
   <div class="container-center">
      <div class="box">
         <form action="/Answer">
             <input type="submit" value="Answer Page!">
         </form>
         <h1 class="container-center steel">Create a question</h1>
         <div class="container steel">
            <form action="/createQuestion" class="container-center steel">
               <div class="container">
                  <div class="box">
                     <h2>Question:</h2>
                     <input type="text" id="question" name="question" placeholder="Enter question here"/>
                  </div>
                  <div class="box">
                     <h2>Correct Answer:</h2>
                     <input type="text" id="answer1" name="answer1" placeholder="Correct Answer goes here" />
                  </div>
                  <div class="box">
                     <h2>Required Answer</h2>
                     <input type="text" id="answer2" name="answer2" placeholder="Other Answer goes here" />
                  </div>
                  <div class="box">
                     <h2>Optional Answer</h2>
                     <input type="text" id="answer3" name="answer3" placeholder="Optional Answer goes here" value="none"/>
                  </div>
                  <div class="box">
                     <h2>Optional Answer</h2>
                     <input type="text" id="answer4" name="answer4" placeholder="Optional Answer goes here" value="none"/>
                  </div>
                  <div class="box">
                     <h2>Question Creator</h2>
                     <input type="text" id="author" name="author" placeholder="Author" />
                  </div>
               </div>
               <input class="box" type="submit" />
            </form>
         </div>
            <h1 class="container-center steel">Choose a question</h1>
            <div class="container steel">
                <form id="questForm" action="/Question">
                    <table id="table">
                        <thead>
                            <tr>
                                <th>Question</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function (question) {
                            if(question.question != ""){%>
                            <tr onclick="javascript:document.forms['questForm'].submit();">
                                <!-- In case we want to delete or see questions ever -->
                                <!-- <td><input type="checkbox" name="questionChk" value="<%= question.id %>"></td> -->
                                <td class="td-button"><%= question.question %></td>
                                <input type="hidden" name="id" value="<%= question.id %>">
                            </tr>
                            <% }}) %>
                            <!-- <tr> -->
                                <!-- <td> -->
                                    <!-- In case we want to delete or see questions ever -->
                                    <!-- <input type="submit" name="see" value="View Question"> -->
                                    <!-- <input type="submit" name="delete" value="Delete Question"> -->
                                <!-- </td> -->
                            <!-- </tr> -->
                        </tbody>
                    </table>
                </form>
            </div>
      </div>
   </div>
</body>
</html>
