<!-- Need to put database access here and ability to change database. This is where the user
will land after logging in -->

<!--  -->

<!-- Configure server, try to connect to database on database port, not server

 -->

<!DOCTYPE html>
<html>
<head>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <% include ../partials/stumper.ejs %>
<body>
   <div class="container-center">
      <div class="box">
         <form action="/Answer">
             <input type="submit" value="Answer Page!">
         </form>
         <h1 class="container-center steel">Create a question</h1>
         <div class="container steel">
            <form action="/createQuestion" class="container-center steel">
               <div class="container">
                  <div class="box">
                     <h2>Question:</h2>
                     <input type="text" id="question" name="question" placeholder="Enter question here"/>
                  </div>
                  <div class="box">
                     <h2>Correct Answer:</h2>
                     <input type="text" id="answer1" name="answer1" placeholder="Correct Answer goes here" />
                  </div>
                  <div class="box">
                     <h2>Required Answer</h2>
                     <input type="text" id="answer2" name="answer2" placeholder="Other Answer goes here" />
                  </div>
                  <div class="box">
                     <h2>Optional Answer</h2>
                     <input type="text" id="answer3" name="answer3" placeholder="Optional Answer goes here" />
                  </div>
                  <div class="box">
                     <h2>Optional Answer</h2>
                     <input type="text" id="answer4" name="answer4" placeholder="Optional Answer goes here" />
                  </div>
               </div>
               <input class="box" type="submit" />
            </form>
         </div>
            <h1 class="container-center steel">Choose a question</h1>
            <div class="container-center steel">
               
            </div>

      </div>


   </div>
</body>
</html>
