<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="container-center">
            <div class="box">
                <form action="/Stumper">
                    <h2>You are Correct!</h2>
                    <input type="submit" value="Back to Questions">
                </form>
            </div>
        </div>
    </body>
</html>